<div class="row">
  <div class="col-md-6">
    <h4 *ngIf="editMode === false">Create Post</h4>
    <h4 *ngIf="editMode === true">Edit Post</h4>

    <form [formGroup]="form">
      <div class="form-group">
        <label>Title</label>
        <input
          class="form-control"
          type="text"
          size="20"
          formControlName="title"
        />
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea
          class="form-control"
          type="text"
          formControlName="description"
        ></textarea>
      </div>

      <div class="form-group">
        <label>Image Path</label>
        <input class="form-control" type="text" formControlName="imagePath" />
        <br />
        <div *ngIf="form.value.imagePath != ''">
          <img
            class="img-responsive"
            alt="No Preview Available"
            src="{{ form.value.imagePath }}"
          />
        </div>
      </div>

      <button
        class="btn btn-success"
        (click)="onSubmit()"
        type="submit"
        [disabled]="form.invalid"
      >
        Save
      </button>
      |
      <button class="btn btn-primary" type="reset">Clear</button>
    </form>
  </div>
</div>
